
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --header-height: 3rem;
  --font-semi: 600;
}

/* Colors */

:root {
  --first-color: #4070f4;
  --second-color: #0e2431;
  --gardient-color: linear-gradient(to right, #5001fb, #8e0af3);
}

/* FONT STYLE */
:root {
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --nomral-font-size: 0.938rem;
}

/* Media Screen Min-Width : 768px */
@media screen and (min-width: 768px) {
  :root {
    
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --nomral-font-size: 1rem;
  }
}


/* Margins */
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/* Z-index */
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Base */
*,
::before,
::before {
box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--nomral-font-size);
  color: var(--second-color);
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* CUSTOM CSS CLASSES */

/* LAYOUT */
.bd_grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background: #fff;
  box-shadow: 0 1px 4px rgba(146,161,176,0.15);
}

/* Navbar */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

@media screen and (max-width: 768px) {
  .nav_menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 3rem;
    background-color: var(--second-color);
    transition: 0.5s;
   
  }
}

.nav_items {
  margin-bottom: var(--mb-4);
}

.nav_link {
  position: relative;
  color: #fff;
}

.nav_link:hover {
  position: relative;
}

.nav_link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.2rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav_logo {
  color:var(--second-color);
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav_toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/* ACTIVE MENU */
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.show {
  right: 0;
}

.home {
  height: calc(100vh - 3 rem);
  row-gap: 1rem;
}

.home_data {

  align-self: center;
}

.home_title {
  margin-bottom: var(--mb-3);
  font-size: var(--big-font-size);
   
}
.home_title .course{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:medium ;
  color: #020602;
  font-weight: 800;
}

.home_title-color {
  color: var(--first-color);
}
.home_title-color h4 {
  font-size: var(--mb-1);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
   color: var(--first-color);
   padding-top: 100%;
}

.home_social {
  display:flex ;
  flex-direction: column;
}

.home_social-icon {

  margin-bottom: var(--mb-8);
  font-size: 1.5rem;
  color: var(--second-color);
}

.home_social-icon:hover {
  color: var(--first-color);
}

.home_img {
  position: absolute;
  right: 0;
  bottom: 100;
  width: 50px;
}

.home_img img {
  width: 100%;
  border-radius: 350%;
  max-width: 100%;
}

/* BUTTONS */
.button {
  display: inline-block;
  color: #fff;
  padding: 0.75rem 2.8rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  background: var(--gardient-color);
}

.button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}
.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

/* ABOUT SECTION */
section{
  padding-top: 3rem;
  padding-bottom: 2rem;
}
section .content{
  width: 80%;
  margin: 4px auto;
  font-family: 'Poppins', sans-serif;
}
.about .about-details{
  display: flex;
  justify-content: none;
  align-items: center;
}
section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span{
  color:var(--first-color);
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
section .title span::before,
section .title span::after{
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #426ee8;
  left: 0;
  bottom: 0;
}
section .title span::after{
  
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.about .about-details .left{
  width: 50%;
}
.about .left img{
  height: 400px;
  width: 450px;
  
  border-radius: 12px;
}
.about-details .right{
  width: 70%;
}
section  .topic{
  color: #127aba;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about-details .right p{
  text-align: justify;
  color: #05090b;
}
section .button{
  margin: 50px 0;
 
}


/* SKILLS */
.skills_container {
  row-gap: 2rem;
  text-align: center;
}

.skills_subtitle {
  margin-bottom: var(--mb-2);
}

.skills_text {
  margin-bottom: var(--mb-4);
}

.skills_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}

.skill_icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}

.skills_name {
  display: flex;
  align-items: center;
}

.skill_bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: var(--z-back);
}

.skill_html {
  width: 95%;
}

.skill_css {
  width: 85%;
}

.skill_js {
  width: 75%;
}

.skill_java {
  width: 85%;
}
.skill_bootstrap {
  width: 85%;
}

.about_img {
  justify-content: center;
}




/*Education*/
.Education{
  width:100%;
  padding: 35px 10%;
}
.contents{
  display: grid;
  border-left: #baba;
  grid-template-columns: 1fr ;
}
.Education .contents{
  padding: 0px 30px;
  border-left: 2px solid rgba(4, 3, 13, 0.667);
}
.Education .contents .box{
  position: relative;
  padding: 20px;
 
  border: 1px solid #eaeaea;
  background-color: #ffff;
 margin-bottom: 20px;
}
.Education .contents .box:hover{
box-shadow: 0px 3px 12px 0px #ccc;
border: 1px solid transparent;
}
.Education .contents .box::before{
  content: '';
  position: absolute;
  width: 17px;
  height: 16px;
  border-radius: 50%;
  right: calc(100% + 24px);
  top: 0;
  background-color: #090306;
  border: 2px solid White;
}
.box h4{
  position: relative;
  color: #4a4fde;
}
.box p{
  position: relative;
  color: #494c4e;
}






/* SKILLS */
.skills_container {
  row-gap: 2rem;
  text-align: center;
}

.skills_subtitle {
  margin-bottom: var(--mb-2);
}

.skills_text {
  margin-bottom: var(--mb-4);
}

.skills_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}

.skill_icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}

.skills_name {
  display: flex;
  align-items: center;
}

.skill_bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: var(--z-back);
}

.skill_html {
  width: 95%;
}

.skill_css {
  width: 85%;
}

.skill_js {
  width: 75%;
}

.skill_ui {
  width: 85%;
}
.skill_java{
  width: 55%;
}

.projects-grid{
  display: inline;
}
* Projects Section */
#projects {
	padding: 10rem 0;
}
#projects .item {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 15rem;
	/* gap: 2rem; */
}
#projects .item:nth-of-type(even) {
	flex-direction: row-reverse;
}
#projects .item .left {
	flex: 1;
}
#projects .item .right {
	margin-left: -150px;
	flex: 1;
	background-color: var(--body-bg);
	padding: 5rem 3rem;
	border-radius: 12px;
	box-shadow: 0px 0px 20px #00000028;
	z-index: 2;
}
#projects .item:nth-of-type(even) .right {
	margin-left: 0;
}
#projects .item:nth-of-type(even) .left {
	margin-left: -150px;
}
#projects .item .left .img {
	height: 500px;
	overflow: hidden;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 0px 20px #4705fc33;
	position: relative;
}
#projects .item .left .img::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #5a24ed38;
}
#projects .item .left .img img {
	object-fit: cover;
	transition: 0.3s ease transform;
}
#projects .item:hover .left .img img {
	transform: scale(1.1);
	z-index: 1;
}
#projects .item .right .project-title {
	
  font-size: 2.5rem;
	font-family: 'Montserrat';
	margin-bottom: 1rem;
}
#projects .item .right .project-sub-title {
	font-size: 1.6rem;
	margin-bottom: 2rem;
}
#projects .item .right .project-desc {
	color: var(--secondary-gray);
	margin-bottom: 1rem;
  
}
#projects .item .right .external-link {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: calc(0.6em - 4px) calc(1.6em - 4px);
}
#projects .item .right .external-link svg {
	width: 25px;
}

@media only screen and (max-width: 768px) {
	#projects .item {
		flex-direction: column;
	}
	#projects .item .left {
		width: 100%;
	}
	#projects .item .right {
		margin-left: 0;
		width: 90%;
		margin-top: -150px;
	}
	#projects .item:nth-of-type(even) {
		flex-direction: column;
	}
	#projects .item:nth-of-type(even) .left {
		margin-left: 0;
	}
}
@media only screen and (max-width: 450px) {
	#projects .item .right .buttons {
		flex-direction: column;
	}
	#projects .item .right .buttons a {
		width: 100%;
		text-align: center;
	}
}

.work_container{
  row-gap: 2rem;
}
.cert_img {
  box-shadow: 0 4px 25px rgba(18, 87, 127, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}

.cert_img img {
  transition: 1s;
  cursor: pointer;
}

.cert_img img:hover {
  transform: scale(1.1);
}

/* Contact */

.container{
  row-gap: 2rem;
  align-self: center;
  width: 100%;
  height: 70vh;
  padding: 10px;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container form{
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.inputBox{
  width: 100%;
  margin: 10px 13;
  border-radius: 5px;
  box-shadow: #020602;
 
}

.inputBox input[type="text"], .inputBox input[type="email"]{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
 
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.947);
  padding: 10px 20px;
  font-size: 16px;
  color: #080808e2;
}

.inputBox textarea{
  width: 100%;
  height: 150px;
  border-radius: 5px;
  
}

.inputBox button{
  display: inline-block;
  color: #fff;
  padding: 0.75rem 2.8rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  background: var(--first-color);
  
  
}


::placeholder{
  font-size: 16px;
}

.alert{
  width: 100%;
  background: var(--mb-5);
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  display: none;
}
/* Footer */
.footer {

  background-color: #0d202b;
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}

.footer_title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer_socials {
  margin-bottom: var(--mb-4);
}

.footer_icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }

  .section-title::after {
    width: 80px;
    top: 3rem;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }

  .nav_items {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }

  .nav_list {
    display: flex;
    padding-top: 0;
  }

  .nav_toggle {
    display: none;
  }

  .nav_link {
    color: var(--second-color);
  }

  .home {
    height: 100vh;
  }

  .home_data {
    align-self: flex-end;
  }
  .home_social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }

  .home_social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }

  .home_img {
    width: 460px;
    bottom: 15%;
  }


  .about_container,
  .skills_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }



  .work_container {
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 2rem;
  }

  .contact_form {
    width: 400px;
  }
  .contact_container {
    justify-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .bd_grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home_img {
    right: 10%;
  }
  
}